.item {
    color: #c0c0c0;
    position: relative;
}

.item .fa {
    position: absolute;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border: 1px solid #0099CC;
    top: 50%;
    left: 0;
    border-radius: 50%;
    color: #a9a9a9;
    text-align: center;
    font-size: 1.2rem;
    transform: translateX(-60px) translateY(-50%);
}